<div id="maincont">
  <header>
    <h1>Садовые растения</h1>
  </header>
  <div id="table">
    <div>
      <nav>
        <p>Панель навигации</p>
      </nav>
      <section>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
        <p>Основное содержание</p>
      </section>
    </div>
  </div>
  <footer>
    <p>&copy; &quot;Садовые растения&quot;, 2020 г.</p>
  </footer>
</div>
